/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: "Lato-Regular";
  src: url("./Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("./Lato-Bold.ttf");
}

@font-face {
  font-family: "Burtons";
  src: url("./Burtons.otf");
}


body {
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.marquee-div {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 4em;
  left: 0;
  width: 100vw;
  height: 2.2em;
}
.marquee {
  width: 100vw;
}
.marquee:hover{
  animation-play-state: paused;
}

/* The animation */
@keyframes marquee{
  0%{transform: translateX(100%);}
  100%{transform: translateX(-40%);}
}

/* media query to enable animation for only those who want it */
@media (prefers-reduced-motion: no-preference) {
  .marquee{
      animation: marquee 8s linear infinite;
      margin: 0 !important;
  }
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 120vh !important;
  min-width: 100vw;
  background-color: #212121;
  color: whitesmoke;
  margin: 0 !important;
  padding: 0 !important;
  /* border: solid #900f19; */
}

.content-wrapper {
  height: fit-content !important;
  min-height: 100vh !important;
}

.content-div {
  /* border: solid salmon; */
  height: fit-content !important;
  min-height: 100vh !important;

}

.nav-div {
  display: block;
  /* min-height: 1em; */
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.continue-btn {
  padding: .6em 2em !important;
  margin-top: 1em !important;
}

.main {
  display: flex;
  flex-direction: column;
  /* width: 90vw; */
  /* height: 100vh; */
  background-color: #212121;
  color: whitesmoke;
  /* border: solid lime; */
}

.form {
  display: grid;
  grid-template-columns: 4fr 2fr;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  background-color: rgba(245, 245, 244, 255);
  border-radius: 4%;
  height: 70vh;
  width: 60vw;

  color: #212121;
  /* border: solid deeppink; */
}


@media screen and (max-width: 1200px) {
  .form {
    /* height: 100vh; */
    width: 80vw;
  }
}

.form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  /* border: solid orange; */
}

.main-shell {
  margin-top: -3rem !important;
}
/* object-cover h-full object-left-top rounded-lg */
.form-img-wrap {
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: center; */
  position: relative;
  max-height: 100%;
  width: 100%;
  /* border: solid skyblue; */
}

.form-img-wrap img {
  object-fit: cover;
  object-position: left top;
  height: 100%;
  width: 100%;
  border-radius: 4%;
  /* border: solid yellow; */
}

.button-field {
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit-btn {
  background-color: rgb(45, 212, 191) !important;
}

.text-red-500 {
  color: rgb(220, 38, 38) !important;
}

.form input,
.form select {
  /* height: 1.6em !important; */
  padding: .5em !important;
}

.check-flex {
  display: flex;
}
.chk {
  margin-right: .6em;
}