@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  min-height: 100vh !important;
}

.equipment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}
.eq-table-component{
  height: fit-content !important;
  min-height: 100vh !important;
}
.model-span {
  padding-left: 1em !important;
}