@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  height: fit-content !important;
  min-height: 200vh !important;
}

.equipment-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
}

.location-page-main {
  margin-top: -2.2em !important;
}

.form-field, .error-field {
  grid-template-columns: 1fr 2fr !important;
}
.eq-table-component{
  height: fit-content !important;
  min-height: 100vh !important;
}
.model-span {
  padding-left: 1em !important;
}